* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Times New Roman', Times, serif;
  display: grid;
  place-items: center;
  align-items: center;
  margin-top: 5%;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 20px;
}

div {
  font-size: 43px;
  display: block;
  width: 225px;
}

h1 {
  position: relative;
  right: -32px;
}

input {
  height: 30px;
  width: 30px;
}
input::placeholder {
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}

#r {
  position: relative;
  right: -60px;
}

#btn {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 20px;
  background: transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.1s;
  box-shadow: 2px 2px 2px black;
}

#btn:active {
  background: red;
  color: white;
  box-shadow: 0px 0px 0px;
}

#backBtn {
  font-size: 20px;
  border: none;
  border-radius: 8px;
  padding: 4px;
  transition: 0.1s;
}

#backBtn a {
  transition: 0.1s;
}

#backBtn:active a {
  font-size: 18px;
  padding: 1px;
}

#back {
  position: absolute;
  left: 0;
  top: 0;
  margin: 20px;
  margin-top: 0;
}

@media (max-width: 440px) {
  body {
    padding-top: 100px;
  }
}
